In [1]:
import pandas as pd
import numpy as np

In [2]:
import re
import nltk

In [3]:
df = pd.read_csv("./smsspamcollection/SMSSpamCollection", delimiter="\t", header=None, names=['class','msg'])

In [4]:
df.head()

  class                                                msg
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.stem.porter import PorterStemmer

In [40]:
corpus=[]

for i in range(0, len(df)):
    review = df['msg'].iloc[i].lower()
    review = re.sub('[^a-z]',' ',review)
    
    corpus.append(review)

In [41]:
st = corpus[0]

In [46]:
st

'go until jurong point  crazy   available only in bugis n great world la e buffet    cine there got amore wat   '

In [25]:
re.sub('[^a-z]', ' ', st)

'go until jurong point  crazy   available only in bugis n great world la e buffet    cine there got amore wat   '